.timer {
  min-height: 0;
  position: relative;
  font-weight: 900;
  font-size: 1em;

  color: var(--color-purple);
  flex-shrink: 1;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__svg {
  height: 100%;
  width: 100%;
}

.timer .timer-label {
  color: var(--color-turquoise);
  fill: var(--color-turquoise);
}

.fullscreen-timer .base-timer__svg {
  height: 100vh;
  width: 100vw;
}

.fullscreen-timer.timer .timer-label {
  font-size: 5vw;
  justify-content: left;
  fill: #50007a;
}

.fullscreen-timer .base-timer__circle {
  display: none;
}
