<div class="timer" {{did-insert this.animate}} ...attributes>
  <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
    <g class="base-timer__circle">
      <path id="base-timer-path-remaining" fill="none" stroke-dasharray="283" stroke-dashoffset={{this.dashoffset}} class="base-timer__path-remaining red" d="
          M 50, 50
          m -45, 0
          a 45,45 0 1,0 90,0
          a 45,45 0 1,0 -90,0
        "></path>
    </g>
    <text x="50" y="50" dominant-baseline="middle" text-anchor="middle" class="timer-label">{{this.text}}</text>
  </svg>
  {{#if this.playSound}}
    <audio autoplay src="/mixkit-retro-game-emergency-alarm-1000.wav"></audio>
  {{/if}}
</div>