{{page-title "NewStreamOverlay"}}

<h1>Open Source <span>LIVE</span></h1>

<div class="sidebar">
  <ul class="tasklist">
    <li>Introduction</li>
    <li class="active">ember-scroll update</li>
    <li>ember-scroll guidemaker</li>
    <li>Ember website redesign</li>
  </ul>

  <Timer @seconds={{1500}} />
</div>


{{outlet}}