<div class="dashboard">
  <Button @message="advance index">Next Task Item</Button>
  <Button @message="retreat index">Previous Task Item</Button>
  <Button @message="clear chat">Clear Chat</Button>
</div>