<h1>Open Source <span>LIVE</span></h1>

<div class="sidebar">
  <ul class="tasklist">
    <li>Introduction</li>
    <li>jQuery app - Ember conversion</li>
    <li class="active">Add Persistance to the timer!!</li>

  </ul>

  <Timer @seconds={{1500}} />
</div>

<div class="footer">
  <Chatbox />
</div>