<h1>Open Source <span>LIVE</span></h1>

<div class="sidebar">
  <TaskList @tasks={{
    array
    "Introduction"
    "Task list button"
    "ember-cli-addon-docs migrator"
  }}/>

  <Timer @seconds={{1500}} @persistanceId="main-overlay-timer" @playSound={{true}}/>
  <Goal @text="Subscribers goal" @target={{15}} @current={{@model.total}}/>
</div>

<div class="footer">
  <Chatbox />
</div>

<div class="notifications-wrapper">
  <Notifications />
</div>